/*WHOLE DOCUMENT STYLING*/
body {
  background: linear-gradient(to right, #3F647B, #62747B);
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
  margin: 3em 7em;
}

/*SIDEBAR NAVIGATION STYLING*/
/*Column 1 of wrapper grid*/
nav {
  background-color: #374050;
  color: #A2ACBD;
  display: grid;
  grid-column: 1/2;
  grid-template-columns: auto;
  grid-template-rows: 1fr 2fr 2fr 4fr;
}

.user-name {
  font-weight: 300;
  margin-top: 0;
}

.nav-p {
  margin: 1em;
}

h5 {
  margin: 0.25em 0;
}

i {
  margin-left: 1.25em;
}

.nav-box {
  border-bottom: 3px solid #323A49;
  display: flex;
  flex-direction: column;
}

.user-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  justify-content: center;
}

.profile-image {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  height: 5em;
  margin: 1em;
  width: 5em;
}

.fa-angle-down {
  margin-left: 0.5em;
}

.main-nav,
.admin-nav,
.categories-nav {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3em repeat(5, 2.5em);
  justify-content: center;
  align-items: center;
}

.main-nav {
  grid-row: 2/3;
}

.nav-p {
  grid-column: 1/3;
  grid-row: 1/2;
}

.fa-home,
.fa-user-friends,
.fa-check-square {
  grid-column: 1/2;
  grid-row: 2/3;
}

.fa-home:hover,
.fa-user-friends:hover,
.fa-check-square:hover,
.home-nav:hover,
.users-nav:hover,
.admin-check:hover {
  background-color: #313948;
  color: #FFF;
}

.home-nav,
.users-nav,
.admin-check {
  font-size: .75em;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 1em;
}

.fa-briefcase,
.fa-map-marker-alt,
.fa-stop-1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.jobs-nav,
.locations-nav,
.design-check {
  grid-column: 2/3;
  grid-row: 3/4;
}

.fa-file-alt,
.fa-sitemap,
.fa-stop-2 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.resumes-nav,
.workflows-nav,
.exec-check {
  grid-column: 2/3;
  grid-row: 4/5;
}

.fa-clipboard-list,
.fa-paste,
.fa-stop-3 {
  grid-column: 1/2;
  grid-row: 5/6;
}

.tasks-nav,
.boards-nav,
.hr-check{
  grid-column: 2/3;
  grid-row: 5/6;
}

.fa-calendar-alt,
.fa-slideshare {
  grid-column: 1/2;
  grid-row: 6/7;
}

.calendar-nav,
.social-nav {
  grid-column: 2/3;
  grid-row: 6/7;
}

.admin-nav {
  grid-row: 3/4;
}

.categories-nav {
  grid-row: 4/5;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4em 3fr auto;
}

/*USER INTERACTIVE NAVIGATION STYLING*/
.alt-nav {
  background-color: #FFF;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 1/2;
}

.alt-nav-box {
  border-right: 2px solid #E4E6EA;
  border-bottom: 2px solid #E4E6EA;
  display: flex;
  align-items: center;
}

.user-add-nav:hover,
.cal-add-nav:hover,
.waffle-nav:hover {
  background-color: #48A3F3;
  color: white;
}

.menu-nav {
  grid-column: 1/2;
}

.fa-bars {
  color: #7D8593;
}

.fa-caret-left {
  color: #48A3f3;
}

.search-nav {
  grid-column: 2/3;
}

.fa-search,
.user-add-nav,
.cal-add-nav,
.waffle-nav {
  color: #9CA3AE;
}

.search-p {
  color: #AFB6C0;
}

.user-add-nav {
  grid-column: 3/4;
}

.cal-add-nav {
  grid-column: 4/5;
}

.waffle-nav {
  grid-column: 5/6;
}

/*JOB STATUS NAVIGATION STYLING*/
.job-status {
  background-color: #FFF;
  display: grid;
  grid-row: 2/3;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.job-status-box {
  display: flex;
}

.job-title-location {

}

.open-button {
  font-size: 1em;
  height: 2em;
  width: 6em;
}

.button-dot {
  color: #99C354;
  height: .5em;
  width: .5em;
}

.fa-bookmark,
.fa-pencil-alt,
.fa-trash-alt {
  border: 1px solid #D3DAE1;
  border-radius: 2em;
  height: 1em;
  padding: 1em;
}

.job-content {
  background-color: #ECF1F5;
  grid-row: 3/4;
}

.job-circle-graphs {

}

.circle-graph-1 {

}

.circle-graph-2 {

}

.circle-graph-3 {

}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-stroke-1 {
  stroke: #67B8BF;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-stroke-2 {
  stroke: #48A3F3;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circle-stroke-3 {
  stroke: #A46EAB;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}






