/*/*WHOLE DOCUMENT STYLING*/
body {
  background: linear-gradient(to right, #3F647B, #62747B);
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto;
  margin: 3em 5em;
}

/*SIDEBAR NAVIGATION STYLING*/
/*Column 1 of wrapper grid*/
nav {
  background-color: #374050;
  color: #A2ACBD;
  display: grid;
  grid-column: 1/2;
  grid-template-columns: auto;
  grid-template-rows: 10em 2fr 2fr 4fr;
}

.user-name {
  font-weight: 300;
  margin-top: 0;
}

.nav-p {
  margin: 1em;
}

h5 {
  margin: 0.25em 0;
}

i {
  margin-left: 1.25em;
}

.nav-box {
  border-bottom: 3px solid #323A49;
  display: flex;
  flex-direction: column;
}

.user-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-row: 1/2;
  justify-content: center;
}

.profile-image {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  height: 5em;
  margin: 1em;
  width: 5em;
}

.fa-angle-down {
  margin-left: 0.5em;
}

.main-nav,
.admin-nav,
.categories-nav {
  display: grid;
  grid-template-columns: 2em repeat(auto-fill, minmax(75px, 1fr));  
  grid-template-rows: 3em repeat(5, 2.5em);
}

.main-nav {
  /*grid-row: 2/3;*/
}

.nav-p {
/*  grid-column: 1/3;
  grid-row: 1/2;*/
}

.fa-home,
.fa-user-friends,
.fa-check-square {
/*  grid-column: 1/2;
  grid-row: 2/3;*/
}

.home-nav,
.users-nav,
.admin-check {
  font-size: .75em;
/*  grid-column: 2/3;
  grid-row: 2/3;*/
  margin-left: 1em;
}

.fa-briefcase,
.fa-map-marker-alt,
.fa-stop-1 {
/*  grid-column: 1/2;
  grid-row: 3/4;*/
}

.jobs-nav,
.locations-nav,
.design-check {
  font-size: .75em;
/*  grid-column: 2/3;
  grid-row: 3/4;*/
  margin-left: 1em;
}

.fa-file-alt,
.fa-sitemap,
.fa-stop-2 {
/*  grid-column: 1/2;
  grid-row: 4/5;*/
}

.resumes-nav,
.workflows-nav,
.exec-check {
  font-size: .75em;
 /* grid-column: 2/3;
  grid-row: 4/5;*/
  margin-left: 1em;
}

.fa-clipboard-list,
.fa-paste,
.fa-stop-3 {
/*  grid-column: 1/2;
  grid-row: 5/6;*/
}

.tasks-nav,
.boards-nav,
.hr-check{
  font-size: .75em;
/*  grid-column: 2/3;
  grid-row: 5/6;*/
  margin-left: 1em;
}

.fa-calendar-alt,
.fa-slideshare {
/*  grid-column: 1/2;
  grid-row: 6/7;*/
}

.calendar-nav,
.social-nav {
  font-size: .75em;
 /* grid-column: 2/3;
  grid-row: 6/7;*/
  margin-left: 1em;
}

.admin-nav {
  grid-row: 3/4;
}

.categories-nav {
  grid-row: 4/5;
}

.fa-check-square {
  color: #F9D549;
}

.fa-stop-1 {
  color: #53AEF8;
}

.fa-stop-2 {
  color: #D73763;
}

.fa-stop-3 {
  color: #4BA78C;
}

main {
  background-color: #ECF1F5;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4em 8em 17em auto;
}

/*USER INTERACTIVE NAVIGATION STYLING*/
.alt-nav {
  background-color: #FFF;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row: 1/2;
}

.alt-nav-box {
  align-items: center;
  border-bottom: 2px solid #E4E6EA;
  border-right: 2px solid #E4E6EA;
  display: flex;
}

.menu-nav {
  align-items: center;
  grid-column: 1/2;
  justify-content: center;
}

.fa-bars {
  color: #7D8593;
}

.fa-caret-left {
  color: #48A3f3;
}

.search-nav {
  grid-column: 2/3;
}

.fa-search,
.user-add-nav,
.cal-add-nav,
.waffle-nav {
  color: #9CA3AE;
}

.search-p {
  color: #AFB6C0;
}

.fa-bars {
  margin-left: .25em;
}

.fa-caret-left,
.fa-user-plus,
.fa-calendar-plus,
.fa-th {
  margin: 0;
}

.user-add-nav,
.cal-add-nav,
.waffle-nav {
  justify-content: center;  
}

.user-add-nav {
  grid-column: 3/4;
}

.cal-add-nav {
  grid-column: 4/5;
}

.waffle-nav {
  grid-column: 5/6;
}

/*JOB STATUS NAVIGATION STYLING*/
.job-status {
  background-color: #FFF;
  display: grid;
  grid-auto-flow: row;
  grid-row: 2/3;
  grid-template-columns: repeat(auto-fill minmax(18em, 1fr));
  grid-template-rows: 6em;
}

.job-title-location {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
  grid-template-columns: auto;
  grid-template-rows: 4em 2em;
}

.job-title {
  color: #4E515D;
  grid-row: 1/2;
  margin: 1.5em auto 0em 1.5em;
}

.space-dot {
  color: #8C95A4;
  margin-right: .5em;
}

.location-p {
  color: #8C95A4;
}

.preview-p {
  color: #4FA7F3;
}

.space-circle {
  color: #BDC1C8;
  font-size: .2em;
  margin: 1rem;
}

.job-status-container {
  align-items: center;
  display: flex;
  /*grid-row: 2/3;*/
  padding-left: 1.5em;
}

.job-status-buttons {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-bottom: .75em
}

.open-button {
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  align-items: center;
  background-color: #FFF;
  border: 1px solid #D3DAE1;
  border-radius: 1.5em;
  color: #9CA3AE;
  display: flex;
  font-size: 1.2em;
  height: 1.75em;
  justify-content: space-around;
  width: 5em;
}

.button-dot {
  color: #99C354;
  font-size: .75em;
}

.fa-bookmark,
.fa-pencil-alt,
.fa-trash-alt {
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border: 1px solid #D3DAE1;
  color: #9CA3AE;
  font-size: 1.2em;
  height: 1.25em;
  line-height: 2;
  margin-left: 1em;
  padding: .25em;
  text-align: center;
  width: 1.25em;
}

.job-stats-content {
  background-color: #ECF1F5;
  display: grid;
  grid-auto-flow: row;
  grid-row: 3/4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em 15em 2em;
}

.job-stats-nav {
  display: flex;
  background-color: #FFF;
  grid-column: 1/3; /*may have to change for media query to work correctly*/
  grid-row: 1/2;
  padding-left: 2.75rem;
}

.stats-nav-start {
  color: #8C95A4;
}

.stats-nav-h {
  color: #8C95A4;
  margin-left: 3.15rem;
}

/*CIRCLE GRAPHS STYLING*/
.job-circle-graphs {
  display: grid;
  grid-column: 1/2;
  grid-template-columns: auto;
  grid-template-rows: 12.15em 3em;
}

.circle-graph-container {
  align-items: center;
  display: flex;
  grid-row: 1/2;
  justify-content: center;
}

.circle-graphs-img {
  height: 10em;
  width: 30em;
}

.totals-button {
  align-items: center;
  display: flex;
  grid-row: 2/3;
  justify-content: center;
}

.tot-btn-container {
  align-items: center;
  background-color: #FFF;
  border: 2px solid #D4DBE2;
  border-radius: 1.25em;
  color: #7A8391;
  display: flex;
  height: 1.75em;
  justify-content: center;
  width: 11em;
}

.totals-button-circ {
  margin: .5rem
}

/*BAR GRAPH STYLING*/
.bar-graph-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bar-graph {
  height: 15em;
  width: 25em;
}

.line-icon-container {
  display: flex;
  grid-column: 1/3;
  grid-row: 3/4;
}
 
hr {
  border: none;
  border-top: 3px solid #D3DAE1;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: .fa-chevron-circle-up;
  padding: 0 4px;
  position: relative;
  top: -13px;
}

/*JOB SUMMARY BOX STYLING*/
.content-wrapper {
  display: grid;
  grid-auto-flow: row;
  grid-row: 5/6;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.job-summary {
  background-color: #FFF;
  display: grid;
  grid-column: 1/2;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 5em repeat(5, 5em) 9em 5em 5em;
  margin: 3em;
}

.job-summary-h {
  color: #7D8A9E;
  margin: 1.5em;
}

.summ-p {
  color: #717B8A;
}

.job-summary-box {
  align-items: center;
  border-bottom: 2px solid #EFF2F5;
  display: flex;
  padding-left: 1em;
}

.summary-box-1-1 {
  background-color: #717D93;
  grid-column: 1/2;
  grid-row: 1/2;
}

.job-summ-h1 {
  color: #FFF;
}

.summary-box-1-2 {
  background-color: #717D93;
  display: flex;
  grid-column: 2/3;
  grid-row: 1/2;
}

.edit-button {
  background-color: #7F8CA4;
  border: 2px solid #7F8CA4;
  color: #FFF;
  display: flex;
  height: 2em;
  width: 5em;
}

.edit-icon {
  border: none;
  margin-left: 0;
}

.summary-box-2-1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.summary-box-2-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.summary-box-3-1 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.summary-box-3-2 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.summary-box-4-1 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.summary-box-4-2 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.summary-box-5-1 {
  grid-column: 1/2; 
  grid-row: 5/6;
}

.summary-box-5-2 {
  grid-column: 2/3;
  grid-row: 5/6;
}

.summary-box-6-1 {
  grid-column: 1/2;
  grid-row: 6/7;
}

.summary-box-6-2 {
  grid-column: 2/3;
  grid-row: 6/7;
}

.summary-box-7-1 {
  grid-column: 1/2;
  grid-row: 7/8;
}

.summary-box-7-2 {
  grid-column: 2/3;
  grid-row: 7/8;
}

.summary-box-8-1 {
  grid-column: 1/2;
  grid-row: 8/9;
}

.summary-box-8-2 {
  grid-column: 2/3;
  grid-row: 8/9;
}

.mgr-info-container {
  display: flex;
  margin-top: .5em;
}

.job-summ-p8 {
  margin-top: .7em;
}

.summary-box-9-1 {
  grid-column: 1/2;
  grid-row: 9/10;
}

.summary-box-9-2 {
  grid-column: 2/3;
  grid-row: 9/10;
}

.salary-h {
  color: #717B8A;
  margin: 1rem;
}

.hiring-lead-image {
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  border-radius: 5em;
  height: 3em;
  margin: 0 1em;
  width: 3em;  
}

/*ASIDE STYLING*/
.contact-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 1fr);
  margin-top: 3em;
}

.social-media-links {
  display: grid;
  grid-row: 1/2;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, 4em);
}

.fa-facebook-square,
.fa-twitter-square,
.fa-linkedin {
  margin-right: 4em;
  margin-left: 2em;
}

.facebook-box,
.twitter-box,
.linkedin-box {
  align-items: center;
  color: #FFF;
  display: flex;
  height: 3em;
  width: 20em;
}

.facebook-box {
  background-color: #5171BC;
  grid-row: 1/2;
}

.twitter-box {
  background-color: #48A9E9;
  grid-row: 2/3;
}

.linkedin-box {
  background-color: #3581B8;
  grid-row: 3/4;
}

.embed-job-box,
.button-widget-box,
.job-upload-box {
  display: grid;
  grid-template-columns: 20em;
  grid-template-rows: 3em repeat(2, 4em);
}

.contact-h-box {
  color: #5B6677;
  display: flex;
  align-items: center;
}

.fa-globe-americas,
.fa-window-maximize,
.fa-file-upload {
  margin-right: .5em;
  margin-left: 0;
}

h3 {
  margin: 0;
}

.embed-p {
  font-size: .9em;
}

.link,
.script-tag,
.email-address {
  color: #717A89;
}

.embed-link {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
}

.embed-link,
.email {
  align-items: center;
  background-color: #FFF;
  color: #717A89;
  display: flex;
  height: 3em;
  width: 18.9em;
}

.email {
  margin-top: 0;
  padding-left: 1em;
}

.link,
.script-tag {
  background-color: #FFF;
  font-size: .9em;
  grid-column: 1/2;
  padding: 0 1em;
}

.copy-p {
  background-color: #67B8BF;
  color: #FFF;
  font-size: .9em;
  grid-column: 2/3;
  height: 1.4em;
  padding: 1em;
  width: 3em;
}

.contact-p-box {
  color: #8A929F;
}

.embed-job-box {
  grid-row: 2/3;
}

.button-widget-box {
  grid-row: 3/4;
}

.job-upload-box {
  grid-row: 4/5;
}

/*HOVER STATES*/
.sidebar-nav-icon:hover,
.alt-nav-icon-box:hover {
  background-color: #313948;
  color: #FFF;
  cursor: pointer;
}

.stats-nav-start:hover,
.stats-nav-h:hover {
  border-bottom: 2px solid #48A3F3;
  color: #4E515D;
  cursor: pointer;
}


/*MEDIA QUERIES*/
@media(max-width: 1320px) {
  .job-summ-p7 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .facebook-box, 
  .twitter-box, 
  .linkedin-box {
    height: 3em;
    width: 18em;
}

@media(max-width: 1265px) {
  .circle-graphs-img {
    height: 9em;
    width: 27em;
  }

  .job-circle-graphs {
    grid-template-rows: 11.5em 3em;
  }

  .bar-graph {
    height: 13em;
    width: 23em;
  }

  .tot-btn-container {
    height: 1.5em;
  }

  .link, 
  .script-tag {
    padding: 0 .5em;
  }

  .embed-link, .email-address {
    width: 18em;
  }

  .embed-job-box, 
  .button-widget-box, 
  .job-upload-box {
    grid-template-columns: 18em;
  }
}

@media(max-width: 1185px) {
  .user-name {
    font-size: .85em;
  }

  .stats-nav-h {
    margin-left: 2.5rem;
  }

  .job-summary {
    margin: 1em;
  }

  .contact-container {
    margin-top: 1em;
  }

  .facebook-box, 
  .twitter-box, 
  .linkedin-box {
    width: 17em;
  }

  .embed-link, .email-address {
    font-size: .75em;
  }
}

/*SMARTPHONE*/
@media(max-width: 320px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6em auto;
    margin: 0;
  }

  nav {
    grid-row: 1/2;
    grid-template-columns: 7em auto;
    grid-template-rows: 2em 2em 2em;
  }

  .user-profile {
    grid-column: 1/2;
    grid-row: 1/4;
    height: 6em;
    width: 6em;
  }

  .profile-image {
    height: 5em;
    margin-left: 2em;
    margin-top: 4em;
    width: 5em;
  }

  .user-name {
    visibility: hidden;
  }

  .side-nav-h {
    visibility: hidden;
  }

  .main-nav,
  .admin-nav,
  .categories-nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  .nav-p {
    margin: 0;
  }

  .main-nav {
    box-sizing: border-box;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .admin-nav {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .categories-nav {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .main-p {
    grid-column: 1/2;
  }

  .sidebar-nav-icon {
    visibility: hidden;
  }

  main {
    grid-template-columns: auto;
    grid-template-rows: 8em 10em 17em 4em 21em auto 4em 4em 4em;
  }

  .alt-nav {
    display: grid;
    grid-row: 1/2;
    grid-template-columns: repeat(4, 4.75em);
    grid-template-rows: 4em 4em;
  }

  .menu-nav {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .user-add-nav {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .cal-add-nav {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .waffle-nav {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .search-nav {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  .job-status {
    grid-template-columns: repeat(auto-fill minmax(18em, 1fr));
  }

  .job-status-container {
    align-items: center;
    display: flex;
    /*grid-row: 2/3;*/
    padding-left: 1.5em;
    justify-content: flex-start;
  }
}






